// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#videogames{
    .coltable{
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
    }
}